<h1>{{!this.isUpdatingPadlet ? 'Padlet erstellen' : 'Padlet bearbeiten'}}</h1>
<form  class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel des Padlets</label>
    <input formControlName="title">
    <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
  </div>
  <div class="field">
    <label>Entries</label>
    <div formArrayName="entries">
      <div class="fields" *ngFor="let control of entries?.controls; index as i; last as l" [formGroupName]="i">
        <input type="hidden" formControlName="id">
        <div class="nine wide field">
          <input formControlName="entryText" placeholder="Entry{{i+1}}_title">
        </div>
        <div class="one wide field" *ngIf="l">
          <button (click)="addEntryControl()" class="ui large button" type="button">+</button>
        </div>
      </div>
    </div>
    <div *ngIf="errors['entries']" class="ui negative message">{{ errors['entries'] }}</div>
  </div>
  <div *ngIf="isLoggedIn()">
    <div class="form-group">
        <input id="private" type="radio" value="private" name="ispublic" formControlName="ispublic"> Privat

        <input id="public" type="radio" value="public" name="ispublic" formControlName="ispublic"> Öffentlich

      <div *ngIf="errors['ispublic']" class="ui negative message">{{ errors['ispublic'] }}</div>

    </div>
  </div>
  <div class="ui hidden divider"></div>
  <button type="submit" class="ui button" [disabled]="padletForm.invalid">Speichern</button>
</form>
