<div class="ui" *ngIf="padlet">
  <div class="ui" *ngIf="padlet.entries && padlet.entries.length > 0">
    <div class="ui card entry" *ngFor="let entry of padlet.entries">
      <p>Text: {{entry.entryText}}</p>
  </div>
  <div class="ui" *ngIf="padlet.entries.length == 0">
    <span>Padlet has no entries</span>
  </div>

  </div>


  <button [routerLink]="'/padlets'" class="ui red button">Zurück zur Liste</button>

  <a *ngIf="editAllowed" class="ui tiny yellow labeled icon button" [routerLink]="['../../admin',
  padlet.id]">
    <i class="write icon"></i> Padlet bearbeiten
  </a>

  <button *ngIf="editAllowed" class="ui tiny red labeled icon button" (click)="removePadlet()">
    <i class="remove icon"></i> Padlet löschen
  </button>
</div>
