<div class="ui middle aligned selection divided list padlet-list">
  <div *ngFor="let padlet of padlets">
    <div *ngIf="padlet?.is_public == 1 || (padlet?.is_public == 0 && isLoggedIn() &&
  padlet?.user_id == getLoggedInUser())">
      <a class="item bs-padlet-list-item"
         [padlet]="padlet" [routerLink]="[padlet.id]">
      </a>
      <hr>
    </div>
  </div>

</div>

<div *ngIf="!padlets" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen...</div>
</div>
